<div class="circle-container">
  <circle-progress [percent]="currentPercent" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [animation]="true"
    [animationDuration]="300"></circle-progress>

    <div style="text-align: right">
        <button mat-button *ngIf="spellingWords && selectedIndex < spellingWords.length" (click)="selectedIndex = selectedIndex + 1">
            Skip
            <i class="material-icons">
                chevron_right
              </i>
          </button>

          <button mat-button *ngIf="spellingWords && selectedIndex == spellingWords.length" (click)="selectedIndex = 0">

              <i class="material-icons">
                  refresh
                </i>
                Restart
            </button>
    </div>
</div>
<mat-tab-group class="no-tabs" [(selectedIndex)]="selectedIndex">
  <mat-tab label="First" *ngFor="let word of spellingWords">
    <h1>{{word.word}}</h1>

    <app-rating (ratingClick)="recordRating($event, word)"></app-rating>
  </mat-tab>

  <mat-tab *ngIf="wordsLoaded">
    <h1>You've Reached the end</h1>
    <img src="assets/mds-congrats.png">
  </mat-tab>

</mat-tab-group>
