<div class="circle-container">

  <h2>Your Progress</h2>
  <circle-progress [percent]="currentPercent" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [animation]="true"
    [animationDuration]="300"></circle-progress>

  <div style="text-align: right">
    <button mat-button *ngIf="spellingWords && selectedIndex < spellingWords.length" (click)="selectedIndex = selectedIndex + 1">
      Skip
      <i class="material-icons">
        chevron_right
      </i>
    </button>

    <button mat-button *ngIf="spellingWords && selectedIndex == spellingWords.length" (click)="selectedIndex = 0">

      <i class="material-icons">
        refresh
      </i>
      Restart
    </button>
  </div>
</div>
<mat-tab-group class="no-tabs" [(selectedIndex)]="selectedIndex" (selectedIndexChange)="loadScores($event)">
  <mat-tab label="First" *ngFor="let word of spellingWords">

    <div class="flex-container">
      <div class="flex-none"><h1 style="text-transform: none; margin-top: 0">{{word.word}}</h1></div>
      <div>
        <button title="Speak the word" mat-button (click)="speakWord(word)"><i class="material-icons">
          record_voice_over
          </i></button>
      </div>
    </div>
    


    <app-rating (ratingClick)="recordRating($event, word)" [itemId]="word.id"></app-rating>

    <div style="clear: both"></div>

    <div *ngIf="word.definition">
      <div class="data-label top-margin-10">Word Definitions</div>
      <ul>
        <li *ngFor="let def of word.definition.definitions">
          <span [innerHTML]="def"></span>
        </li>
      </ul>
    </div>

    <div>
      <h3>Score History</h3>

      <div *ngFor="let score of word.scores" class="flex-container" style="border-bottom: 1px dotted #fff">
        <div style="padding-top: 10px">
          {{score.scoredate | date: 'shortDate'}}
          {{score.scoredate | date: 'shortTime'}}
        </div>
        <div>
          <app-rating [isSmall]="true" [itemId]="score.id" [readOnly]="true" [(rating)]="score.score"></app-rating>
        </div>
        <div class="flex-none">
          <button mat-button (click)="removeScore(score, word)" [disabled]="score.deleting">
            <mat-spinner *ngIf="score.deleting" class="twenty"></mat-spinner>
            <span *ngIf="!score.deleting">X</span></button>
        </div>


      </div>
    </div>
  </mat-tab>

  <mat-tab *ngIf="wordsLoaded">
    <div style="text-align: center" *ngIf="spellingWords && selectedIndex == spellingWords.length">
      <!-- <img src="assets/congrats.svg"> -->
      <app-congrats></app-congrats>
    </div>
    <h1>You've Reached the end</h1>

    <div>
      <button mat-button *ngIf="spellingWords && selectedIndex == spellingWords.length" (click)="selectedIndex = 0" style="vertical-align: top">

        <i class="material-icons">
          refresh
        </i>
        <br>
        Restart Quiz
      </button> 

      <a mat-button routerLink="/">

        <i class="material-icons">
          home
        </i>
        <br>
        Return Home
      </a>
    </div>
  </mat-tab>

</mat-tab-group>
