<h1>
    Your
    <span class="small"> Students</span>
</h1>
<div *ngIf="!loading">
  <a mat-button  class="select-button" routerLink="/spelling-lists/{{student.id}}" *ngFor="let student of students">

    <i class="material-icons">
      supervised_user_circle
    </i>

    <span class="student-name">
      {{student.name}}</span>
  </a>

  <button mat-button  class="select-button" (click)="addStudent()">
    <i class="material-icons">
      add_circle
    </i>

    <span class="student-name">Add Student</span>
  </button>
</div>

<div *ngIf="loading"  style="display: table; margin: 0 auto">
    <mat-spinner></mat-spinner><br> Loading Students...
</div>