<h1>
    Your
    <span class="small"> Students</span>
</h1>
<div *ngIf="!loading">

  <div  *ngFor="let student of students" class="flex-container" [class.slideOutLeft]="student.removing">
    <div>
        <a mat-button  class="select-button" routerLink="/spelling-lists/{{student.id}}">

          <i class="material-icons">
            supervised_user_circle
          </i>
      
          <span class="student-name">
            {{student.name}}</span>
        </a>
    </div>
    <div class="flex-none">

      <button mat-button (click)="deleteStudent(student)" [disabled]="student.deleting">
        <mat-spinner *ngIf="student.deleting" class="twenty"></mat-spinner>
        <span *ngIf="!student.deleting">X</span>
        </button>
    </div>
  </div>


  <button mat-button  class="select-button" (click)="addStudent()">
    <i class="material-icons">
      add_circle
    </i>

    <span class="student-name">Add Student</span>
  </button>
</div>

<div *ngIf="loading"  style="display: table; margin: 0 auto">
    <mat-spinner></mat-spinner><br> Loading Students...
</div>