/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgba(109,109,109,1);
  background-size: cover;
  color: #fff;
}

h1 {
    color: #fff;
    text-transform: lowercase;
    font-size: 42px;
}

h1 span.small {
    font-size: 21px;
    font-style: italic;
    display: inline-block;
    margin-left: -10px;
}

.flex-container {
  display: flex;
  width: 100%;
}

.flex-container>div {
  flex: auto;
}

.flex-container>.flex1,
.table-row>.flex1,
.table-header>.flex1,
.table-footer>.flex1 {
  flex: 1;
}

.flex-container>.flex2,
.table-row>.flex2,
.table-header>.flex2,
.table-footer>.flex2 {
  flex: 2;
}

.flex-container>.flex3,
.table-row>.flex3,
.table-header>.flex3,
.table-footer>.flex3 {
  flex: 3;
}

.flex-container>.flex-none,
.table-row>.flex-none,
.table-header>.flex-none,
.table-footer>.flex-none {
  flex: none;
}

mat-form-field,
.mat-form-field {
  display: block !important;
}


mat-spinner.thirty,
button mat-spinner,
mat-spinner[thirty] {
  display: inline-block;
  height: 30px !important;
  width: 30px !important;
}

mat-spinner.thirty svg,
button mat-spinner svg,
mat-spinner[thirty] svg {
  height: 30px !important;
  width: 30px !important
}

mat-spinner.twenty,
mat-spinner[twenty] {
  display: inline-block;
  height: 20px !important;
  width: 20px !important;
}

mat-spinner.twenty svg,
mat-spinner[twenty] svg {
  height: 20px !important;
  width: 20px !important;
}

mat-spinner.onetwentyeight,
mat-spinner[onetwentyeight] {
  display: inline-block;
  height: 128px;
  width: 128px;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: table;
  margin: 0 auto;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #fff !important;
}

.select-button {
    width: 100% !important;
    display: block !important;
    margin-right: 20px !important;
    margin-bottom: 20px !important;
    /* height: 150px; */
    padding-top: 10px !important;
    vertical-align: top !important;
    background-color: transparent !important;
    color: #fff !important;
    text-align: left !important;
    max-width: 650px !important;
    border-radius: 0 !important;
    border-bottom: 1px dotted #fff !important;

}

mat-dialog-container {
    padding: 0 !important;
    overflow: hidden !important;
}

.add-container {
    transform: none;
    background-image: url(assets/plus-bg.png);
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    width: 600px;
}

.padding-20 {
    padding: 20px;
}

.mat-dialog-title {
    color: rgba(109,109,109,.8);
}