.select-button-word {
    margin-right: 10px!important;
    margin-bottom: 10px!important;
    padding-top: 10px!important;
    vertical-align: top!important;
    color: #fff!important;
    text-align: left!important;
    max-width: 650px!important;
    border-radius: 5px!important;
    border-bottom: 1px dotted #fff!important;
    display: inline-block!important;
    width: 27.9%!important;
    border: none;
    background-color: rgba(0,0,0,.1)!important;
    border-bottom: none!important;
    padding: 11px;
}

.word {
    margin-top: 7px;
    font-size: 12px;
}

.remove-button {
    line-height: 24px !important;
    min-width: 34px !important;
}