<h1 *ngIf="student">

  {{student.name}}'s
  <span class="small">Spelling Lists</span>
</h1>

<div *ngIf="!loading">



  <div *ngFor="let list of spellingLists" class="flex-container" [class.slideOutLeft]="list.removing">
    <div>
      <a mat-button class="select-button" routerLink="/spelling-words/{{list.id}}">

        <i class="material-icons">
          assignment
        </i>
    
        <span class="student-name">
          {{list.name}}</span>
      </a>
    </div>
    <div class="flex-none">

      <button mat-button (click)="deleteList(list)" [disabled]="list.deleting">
        <mat-spinner *ngIf="list.deleting" class="thirty"></mat-spinner>
        <span *ngIf="!list.deleting">X</span>
      </button>
    </div>
  </div>


  <button mat-button class="select-button" (click)="addList()">
    <i class="material-icons">
      add_circle
    </i>

    <span class="student-name">Add List</span>
  </button>

</div>

<div *ngIf="loading" style="display: table; margin: 0 auto">
  <mat-spinner></mat-spinner><br> Loading Spelling Lists...
</div>
