<fieldset class="rating" [class.small]="isSmall">
        <input type="radio" [name]="inputName" value="5" [disabled]="readOnly" [checked]="rating===5" />
        <label title="Rocks!" (click)='onClick(5)'>5 stars</label>
      
        <input type="radio" [name]="inputName" value="4" [disabled]="readOnly" [checked]="rating===4" />
        <label title="Pretty good" (click)='onClick(4)'>4 stars</label>
      
        <input type="radio" [name]="inputName" value="3" [disabled]="readOnly" [checked]="rating===3" />
        <label title="Okay" (click)='onClick(3)'>3 stars</label>
      
        <input type="radio" [name]="inputName" value="2" [disabled]="readOnly" [checked]="rating===2" />
        <label title="Needs Improvement" (click)='onClick(2)'>2 stars</label>
      
        <input type="radio" [name]="inputName" value="1" [disabled]="readOnly" [checked]="rating===1" />
        <label title="Needs Lots of improvement" (click)='onClick(1)'>1 star</label>
      </fieldset>
      